[Unit]
Description=Downloader bot
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/root/dev/bots/gecko-bot/venv/bin/python bot.py
ExecReload=/root/dev/bots/gecko-bot/venv/bin/python bot.py
WorkingDirectory=/root/dev/bots/gecko-bot/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target